<a href="https://colab.research.google.com/github/00FFEF/test_deeplearning/blob/master/NLP/cos_similarity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

바나나  사과  저는  좋아요
문서1   0      1     1     1
문서2   1      0     1     1
문서3   2      0     2     2

In [2]:
from numpy import dot
from numpy.linalg import norm
import numpy as np
def cos_sim(A, B):
       return dot(A, B)/(norm(A)*norm(B))

In [3]:
doc1 = np.array([ 0, 1, 1, 1])
doc2 = np.array([ 1, 0, 1, 1])
doc3 = np.array([ 2, 0, 2, 2])

In [4]:
cos_sim(doc1, doc2)

0.6666666666666667

In [5]:
cos_sim(doc1, doc3)

0.6666666666666667

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
corpus = [
    'you know I want your love',
    'I like you',
    'what should I do ',    
]

In [12]:
tfidf = TfidfVectorizer()
tfidf.fit_transform(corpus).toarray()

array([[0.        , 0.46735098, 0.        , 0.46735098, 0.        ,
        0.46735098, 0.        , 0.35543247, 0.46735098],
       [0.        , 0.        , 0.79596054, 0.        , 0.        ,
        0.        , 0.        , 0.60534851, 0.        ],
       [0.57735027, 0.        , 0.        , 0.        , 0.57735027,
        0.        , 0.57735027, 0.        , 0.        ]])

In [11]:
print(tfidf.vocabulary_)

{'you': 7, 'know': 1, 'want': 5, 'your': 8, 'love': 3, 'like': 2, 'what': 6, 'should': 4, 'do': 0}

## Recommanded with cos similarity
### dataset from https://www.kaggle.com/rounakbanik/the-movies-dataset

In [13]:
import pandas as pd

In [17]:
df_data = pd.read_csv('movies_metadata.csv')
df_data.head(3)

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

   adult  ... vote_count
0  False  ...     5415.0
1  False  ...     2413.0
2  False  ...       92.0

[3 rows x 24 columns]

In [18]:
df_data.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [19]:
data = df_data.head(10000)

In [20]:
data = data.dropna()

In [ ]:
data.info()

In [22]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
tfidf = TfidfVectorizer()
tfidf_matrix = tfidf.fit_transform(data['overview'])
tfidf_matrix.shape

(158, 2696)

In [27]:
len(tfidf.vocabulary_)

2696

In [28]:
tfidf_matrix[4].toarray()

array([[0., 0., 0., ..., 0., 0., 0.]])

In [29]:
from sklearn.metrics.pairwise import linear_kernel

In [32]:
cosin_sim = linear_kernel(tfidf_matrix, tfidf_matrix)
type(cosin_sim), cosin_sim.shape

(numpy.ndarray, (158, 158))

In [ ]:
cosin_sim[3]

In [35]:
indeces = pd.Series(data.index, index=data['title']).drop_duplicates()
indeces.head(5)

title
GoldenEye                                    9
Friday                                      68
From Dusk Till Dawn                         69
Blue in the Face                           153
Mighty Morphin Power Rangers: The Movie    178
dtype: int64

In [36]:
indeces['From Dusk Till Dawn']

69

In [ ]:
list(cosin_sim[69])

In [ ]:
cosin_list = list(enumerate(cosin_sim[69])) # movie index
cosin_list

In [51]:
cosin_index = sorted(cosin_list, key=lambda x:x[1] ,reverse=True)
cosin_index[1:11] # top 10

[(83, 0.15998660887787308),
 (67, 0.14772757089625846),
 (137, 0.13396597843861469),
 (138, 0.12763954217361856),
 (56, 0.12396013932603699),
 (133, 0.1189225068324697),
 (71, 0.11846245157106666),
 (74, 0.11163546861489206),
 (85, 0.10414294242114651),
 (62, 0.1021239662265584)]

In [56]:
# for i in cosin_index:
#   i[0]

movie_indices = [i[0] for i in cosin_index[1:11]]

In [57]:
data['title'].iloc[movie_indices]

3513                      The Spy Who Loved Me
2832                     From Russia with Love
7329                       You Only Live Twice
7330                                 Octopussy
2263                          A View to a Kill
7192    Agent Cody Banks 2: Destination London
2875                          Live and Let Die
2965                   The World Is Not Enough
3517               The Man with the Golden Gun
2572                                    Tarzan
Name: title, dtype: object